:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --card-padding: 2em;
  --border-radius: 8px;
  --transition-duration: 0.3s;
  --button-background: #1a1a1a;
  --button-hover-border: #646cff;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --font-size-large: 3.2em;
  --font-size-button: 1em;

  --color-0: rgb(25, 33, 89);
  --color-1: rgba(122, 129, 132, 1);
  --color-2: rgba(57, 71, 75, 1);
  --color-3: rgba(45, 109, 130, 1);
  --color-4: rgba(16, 143, 185, 1);

  --anchor-color: rgb(218, 225, 224);
  --topic-jstree-select-color: rgb(105, 144, 159);

  --bg-color: var(--color-0);
  --bg-color-2: rgb(120, 130, 150);
  --bg-color-scroll: rgb(20, 30, 60);
  --bg-color-black: rgb(2, 2, 48);
  --bg-light-color: rgba(48, 61, 65, 1);
  --bg-dark-color: rgba(24, 31, 33, 1);
  --bg-hover-color: var(--color-2);

  --bg-color-push-2: rgba(160, 170, 190, 1);

  --font-color: #cccccc;
  --font-color-2: #ddd;
  --border-color: black;

  --measurement-detail-node-bg-light: var(--color-1);
  --measurement-detail-node-bg-dark: var(--color-2);
  --measurement-detail-area-bg-color: #eee;
  --potree_sidebar_container-width: 400px;

  --sidebar-width: 300px;
  
  --transition-speed: 300ms;
  --btn-size: 35px;
  --btn-bar-height: 5px;
  --btn-bar-spacing: 6.5px;
  --btn-background: gray;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--transition-duration);
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: var(--font-size-large);
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--main-padding);
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --button-background: #f9f9f9;
    --link-hover-color: #747bff;
  }
}

/* Styling the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* light grey background */
  border-radius: 10px;
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* grey handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* slightly darker grey on hover */
}

/* Styling the scrollbar itself (width and color) */
::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
  background-color: #f1f1f1;
  /* light grey background */
}


#main-page {
  position: absolute;
  background: radial-gradient(circle, var(--bg-color-black) 0%, var(--bg-color-black) 70%, var(--color-0) 99%, var(--color-0) 100%);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* z-index: 0; */
}
.section h2 {
  cursor: pointer;
  color: white;
  background-color: var(--bg-color-2);
  border-radius: 8px;
  font-size: 1.2em;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2:hover {
  background-color: var(--bg-color-push-2);
}

.section {
  border-radius: 15px;
  background-color: rgb(35, 49, 108); /* Slightly lighter and more vibrant blue */
  box-shadow: 0 4px 8px rgba(95, 95, 95, 0.3); /* Softer shadow with reduced intensity and transparency */
}

.section .tools.section {
  margin-bottom: 20px;
}

.section .tools h3 {
  cursor: pointer;
}

.section .tools.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section .tools label {
  margin-right: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
